<div class="container">
    <div class="restoform col-4 mx-auto">
  <form>
    <fieldset>
      <legend>Sign In</legend>
      <small>or <a routerLink="/login"><span style="color:red">Login to your account</span></a></small>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="form-group">
        <label class="form-check-label" for="exampleCheck1">Phone Number</label>
          <input type="tel" maxlength=10 class="form-control" id="exampleCheck1">
        </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck2">
        <label class="form-check-label" for="exampleCheck2"><small>I Accept <a routerLink=" " ><u>Terms&Conditions</u></a> </small></label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
     
    </fieldset>
    </form>
  </div>
  </div>