<div class="container mt-4">
    <div class="main mb-4 pb-3">
        <div class="row ord ml-1 mt-4">
            <div class="foodimg col-3">img</div>
            <div class="fooddet col-7">Details</div>
        </div>
        <div class="row ord-2 ml-1 mt-2">
            <div class="dishname col-12">dish ordered</div>
            <div>
                <a href="" class="reorder">REORDER</a>
                <a href="" class="help">HELP</a>
            </div>
            <div>
            </div>
        </div>
    </div>
    <div class="main mb-4 pb-3">
        <div class="row ord ml-1 mt-4">
            <div class="foodimg col-3">img</div>
            <div class="fooddet col-7">Details</div>
        </div>
        <div class="row ord-2 ml-1 mt-2">
            <div class="dishname col-12">dish ordered</div>
            <div>
                <a href="" class="reorder">REORDER</a>
                <a href="" class="help">HELP</a>
            </div>
            <div>
            </div>
        </div>
    </div>
    <div class="main mb-4 pb-3">
        <div class="row ord ml-1 mt-4">
            <div class="foodimg col-3">img</div>
            <div class="fooddet col-7">Details</div>
        </div>
        <div class="row ord-2 ml-1 mt-2">
            <div class="dishname col-12">dish ordered</div>
            <div>
                <a href="" class="reorder">REORDER</a>
                <a href="" class="help">HELP</a>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>